einops==0.8.0
entmax==1.0
matplotlib==3.5.1
matplotlib==3.7.5
matplotlib_inline==0.1.6
Model==0.6.0
numpy==1.24.3
pandas==1.4.3
PyQt5==5.15.11
PyQt5_sip==12.15.0
scikit_learn==1.3.0
scipy==1.9.3
torch==2.1.1+cu118
tqdm==4.66.1
